/*********top left button*********/
.button {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 50px 75px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000/*<<<---Black*/;
    background-color: #ffffff00/*<<<---Transparent???*/;
    border: none;
    border-radius: 150px;
    transition-duration: 0.3s;
}

.button:hover { background-color: #ffffff00 }

.button:active {
    background-color: #FF0000/*<<<---Red*/;
}
  
  /*********top right button*********/
.button2 {
    position: fixed;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 50px 75px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #ffffff00;
    border: none;
    border-radius: 150px;
    transition-duration: 0.3s;
}

.button2:hover {background-color: #ffffff00}

.button2:active {
    background-color: #FF0000;
}
  
  /*********bottom left button*********/
.button3 {
    position: fixed;
    bottom: 0;
    left: 0;
    display: inline-block;
    padding: 50px 75px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #ffffff00;
    border: none;
    border-radius: 150px;
    transition-duration: 0.3s;
}

.button3:hover {background-color: #ffffff00}

.button3:active {
    background-color: #FF0000;
}
  
  /*********bottom right button*********/
.button4 {
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-block;
    padding: 50px 75px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #ffffff00;
    border: none;
    border-radius: 150px;
    transition-duration: 0.3s;
}

.button4:hover {background-color: #ffffff00}

.button4:active {
    background-color: #FF0000;
}
  
  /*********Center button*********/
.button5 {
    position: absolute;
    margin-left: 12.5%;
    top: 25%;
    width: 75%;
    height: 50%;
    display: inline-block;
    padding: 50px 75px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #ffffff00;
    border: none;
    border-radius: 150px;
    transition-duration: 0.3s;
}

.button5:hover {background-color: #ffffff00}

.button5:active {
    background-color: #FF0000;
}